


body {
    font-family: 'Poppins', sans-serif;
  }
  
  button, input {
    font-family: inherit;
  }
  
  label {
    margin-right: 1rem;
  }
  
  input {
    font-family: inherit;
    height: 1.5rem;
    width: 4rem;
    margin-right: 3px;
  }
  
  label span {
    margin-right: 4px;
  }
  
  .examples {
    padding: 2rem 0;
  }
  
  .wrapper {
    width: 220px;
    height: 500px;
    margin: 4rem auto;
    overflow: hidden; /* Hide overflow to prevent images from overflowing */

  }
  
  .splide__slide {

    width: 220px;
    height: 500px;
   
  }
  
  .splide__slide img {
    width: 100%;
    height: auto; /* Change height to auto to maintain aspect ratio */
    object-fit: contain; /* Use contain to fit the image within the slide */
  }
  
  .splide--nav {
    margin-top: 1rem;
  }