/* Add your styles here */
.about-page {
  height: 100vh;
  background: #1e1e1e;
  color: whitesmoke;
}

.profile {
  height: 600px;
  width: 100%;
  justify-content: center;
  justify-content: space-evenly;
}


.image-fluid {
  width: 200px;
  height: 350px;

}

.picturecard {
/* ... your existing styles ... */
position: relative; /* Add position: relative for proper stacking */
}

.picturecard:hover {
opacity: 0.7;
}

.figcaption {
position: absolute; /* Position the caption absolutely over the image */
top: 50%; /* Adjust to vertically center the caption */
left: 50%; /* Adjust to horizontally center the caption */
transform: translate(-50%, -50%); /* Center the caption using translate */
background-color: rgba(0, 0, 0, 0.7);
color: white; /* Set the color to white */
opacity: 0; /* Start with opacity 0 */
transition: opacity 0.7s ease;
}

.picturecard:hover .figcaption {
opacity: 1;
}